nav{
  width: 100%;
  display: flex;
  height: 108px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #c4c4c4;
  font-size: 26px;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}
nav ul li{
  padding: 0 5px;
}
.logo{
  font-family: 'Sevillana', cursive;
  font-size: 48px;
}
.bold{
  font-weight: bold;
}
